<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Корзина</title>
    <link rel="stylesheet" th:href="@{/css/cart.css}" />
  </head>
  <body class="body">
    <div class="header">
      <div class="header_top">
        <div>
          <h1 class="h1_header">
            магазин хоккейной экипировки МЕТЕОР в России
          </h1>
        </div>

        <div>
          <p class="h1_header text_number">+7(495) 111-55-77</p>
        </div>
      </div>
    </div>

    <div class="header_menu">
      <div>
        <nav class="menu">
          <ul>
            <li class="li"><a class="li_text" href="/">Главная</a></li>
            <li class="li"><a class="li_text" href="/catalog">Каталог</a></li>
            <li class="li"><a class="li_text" href="#">Rapair</a></li>
            <li class="li"><a class="li_text" href="about">About</a></li>
            <li class="li"><a class="li_text" href="#">Contact</a></li>
          </ul>
        </nav>
      </div>

      <div class="img_header_menu">
        <a href="/auth">
          <div>
            <img class="img_cart" th:src="@{/image/7158883.png}" alt="cart" />
          </div>
        </a>

        <a href="/cart">
          <div>
            <img class="img_cart" th:src="@{/image/5834948.png}" alt="cart" />
          </div>
        </a>
      </div>
    </div>

    <div>
      <div class="form_creat_prroduct">
        <div>
          <form
            th:action="@{/account/{id}(id=${pay.id})}"
            th:object="${pay}"
            method="post"
          >
            <label for="num">number</label>
            <input
              class="number"
              th:field="*{account}"
              type="number"
              id="num"
              placeholder="введите сумму"
            />

            <input type="submit" value="поплнить" />
          </form>
        </div>

        <div>
          <a href="/cart">
            <button>вернуться в корзину</button>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
