<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <title>Админ</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}" />
  </head>
  <body class="body">
    <div class="header">
      <div class="header_top">
        <h1 class="h1_header">магазин хоккейной экипировки МЕТЕОР в России</h1>
        <p class="h1_header text_number">+7(495) 111-55-77</p>
      </div>
    </div>

    <div class="header_menu">
      <div>
        <nav class="menu">
          <ul>
            <li class="li"><a class="li_text" href="/">Главная</a></li>
            <li class="li"><a class="li_text" href="/catalog">Каталог</a></li>
            <li class="li"><a class="li_text" href="#">Rapair</a></li>
            <li class="li"><a class="li_text" href="about">About</a></li>
            <li class="li"><a class="li_text" href="#">Contact</a></li>
          </ul>
        </nav>
      </div>

      <div class="img_header_menu">
        <a href="/auth">
          <div>
            <img class="img_cart" th:src="@{image/7158883.png}" alt="cart" />
          </div>
        </a>

        <a href="/cart">
          <div>
            <img class="img_cart" th:src="@{image/5834948.png}" alt="cart" />
          </div>
        </a>
      </div>
    </div>

    <div class="button_exit_div">
      <a href="#" th:href="@{/logout}">
        <button class="button_exit">выйти из админки</button>
      </a>
    </div>

    <div class="header_text-div">
      <h1 class="header_text">Управление данными пользователей</h1>
    </div>

    <div class="user_table" th:switch="${persons}">
      <h2 th:case="null">No users found!</h2>
      <div th:case="*">
        <table class="table">
          <thead>
            <tr>
              <th class="th">ID</th>
              <th class="th">Name</th>
              <th class="th">Mail</th>
              <th class="th">PASS</th>
            </tr>
          </thead>
          <tbody>
            <tr class="tr" th:each="user:${persons}">
              <td class="td" th:text="${user.id}"></td>
              <td class="td" th:text="${user.name}"></td>
              <td class="td" th:text="${user.mail}"></td>
              <td class="td" th:text="${user.pass}"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="btn_div">
        <img class="img_link" th:src="@{image/i-4.webp}" alt="" />
      </div>
    </div>

    <div class="header_text-div">
      <h2 class="header_text">Управление данными товаров</h2>
    </div>

    <div class="form_creat_prroduct">
      <form th:action="@{/admin}" th:object="${product}" method="post">
        <label for="name">name</label>
        <input
          class="text"
          type="text"
          th:field="*{name}"
          id="name"
          placeholder="name product"
        />

        <label for="size">size</label>
        <input
          class="text"
          type="number"
          th:field="*{size}"
          id="size"
          placeholder="size product"
        />

        <label for="brand">brand</label>
        <input
          class="text"
          type="text"
          th:field="*{brand}"
          id="brand"
          placeholder="brand product"
        />

        <label for="price">price</label>
        <input
          class="text"
          type="number"
          th:field="*{price}"
          id="price"
          placeholder="price product"
        />

        <label for="image">image</label>
        <input
          class="text"
          type="text"
          th:field="*{image}"
          id="image"
          placeholder="image product"
        />

        <input type="submit" value="Добавить товар" />
      </form>
    </div>

    <div class="table_product" th:switch="${all_products}">
      <h2 th:case="null">No users found!</h2>
      <div th:case="*">
        <table class="table">
          <thead>
            <tr>
              <th class="th">ID</th>
              <th class="th">Name</th>
              <th class="th">Brand</th>
              <th class="th">Size</th>
              <th class="th">Price</th>
              <th class="th">Image</th>
            </tr>
          </thead>
          <tbody>
            <tr class="tr" th:each="prod:${all_products}">
              <td class="td" th:text="${prod.id}"></td>
              <td class="td" th:text="${prod.name}"></td>
              <td class="td" th:text="${prod.brand}"></td>
              <td class="td" th:text="${prod.size}"></td>
              <td class="td" th:text="${prod.price}"></td>
              <td class="td" th:text="${prod.image}"></td>
              <td>
                <div class="href_button">
                  <div>
                    <a
                      th:href="@{update-product/{id}(id=${prod.id})}"
                      title="Изменить пользователя"
                      ><button class="button_change">изменить</button></a
                    >
                  </div>
                  <div>
                    <a
                      th:href="@{admin-delete/{id}(id=${prod.id})}"
                      title="Удалить пользователя"
                      ><button class="button_del">удалить</button></a
                    >
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
