<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Корзина</title>
    <link rel="stylesheet" th:href="@{/css/cart.css}" />
  </head>
  <body class="body">
    <div class="header">
      <div class="header_top">
        <div>
          <h1 class="h1_header">
            магазин хоккейной экипировки МЕТЕОР в России
          </h1>
        </div>

        <div class="balance_blok">
          <h4 class="balance_text">баланс</h4>

          <div th:switch="${balance}">
            <h2 th:case="null">0</h2>
            <div th:case="*"></div>
          </div>

          <div class="balance_blok" th:each="num:${balance}">
            <div>
              <p class="balance_nam" th:text="${num.account}"></p>
            </div>

            <div>
              <a th:href="@{account/{id}(id=${num.id})}">
                <button class="balance_button">пополнить</button>
              </a>
            </div>
          </div>
        </div>

        <div>
          <p class="h1_header text_number">+7(495) 111-55-77</p>
        </div>
      </div>
    </div>

    <div class="header_menu">
      <div>
        <nav class="menu">
          <ul>
            <li class="li"><a class="li_text" href="/">Главная</a></li>
            <li class="li"><a class="li_text" href="/catalog">Каталог</a></li>
           
          </ul>
        </nav>
      </div>

      <div class="img_header_menu">
        <a href="/auth">
          <div>
            <img class="img_cart" th:src="@{/image/7158883.png}" alt="cart" />
          </div>
        </a>

        <a href="/cart">
          <div>
            <img class="img_cart" th:src="@{/image/5834948.png}" alt="cart" />
          </div>
        </a>
      </div>
    </div>

    <div class="div_header" th:switch="${cartProducts}">
      <h2 th:if="${cartProducts.empty}">
        Корзина пустая. Выберете товар чтобы перейти к оформлнеию
      </h2>
      <div>
        <div class="div_empty"></div>

        <div>
          <div class="product product_border" th:each="product:${cartProducts}">
            <div class="product_img">
              <img
                class="img_product"
                th:src="@{'/image/'+${product.cartImage}}"
                alt="img"
              />
            </div>

            <div class="product_block">
              <div class="product">
                <div class="brand_name_text">
                  <!-- <p></p> -->
                  <p class="skate" th:text="${product.cartName}">Коньки</p>
                </div>
                <div class="cart_brand">
                  <!-- <p>марка</p> -->
                  <p class="skate" th:text="${product.cartBrand}"></p>
                </div>
              </div>

              <div>
                <div class="product_menu_price">
                  <div>
                    <p>размер</p>
                    <p th:text="${product.cartSize}"></p>
                  </div>
                  <div>
                    <p>цена</p>
                    <p th:text="${product.cartPrice}"></p>
                  </div>
                </div>
              </div>
              <a
                th:href="@{cart-delete/{id}(id=${product.id})}"
                title="удалить"
              >
                <button class="button">удалить</button></a
              >
            </div>
          </div>

          <div class="all_info_button_price_count">
            <div class="info_price_and_count">
              <div th:if="${countPruductCart} > 0">
                <div class="count_product-in-cart">
                  <div>
                    <p>выбрано товаров:</p>
                  </div>
                  <div>
                    <p th:text="${countPruductCart}"></p>
                  </div>
                </div>
              </div>

              <div class="info_button_price" th:if="${summPriceProduct} > 0">
                <div class="summ_product-in-cart">
                  <div>
                    <p>cумма к оплате:</p>
                  </div>
                  <div>
                    <p th:text="${summPriceProduct}"></p>
                  </div>
                </div>
                <div>
                  <a href="/pay-update">
                    <button class="button_pay">перейти к оплате</button>
                  </a>

                  <!-- th:href="@{cart-delete/{id}(id=${product.id})}" -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
