<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Хоккейный магазин</title>
    <link rel="stylesheet" th:href="@{/css/list-shorts.css}" />
  </head>

  <body>
    <div class="header">
      <div class="header_top">
        <h1 class="h1_header">магазин хоккейной экипировки МЕТЕОР в России</h1>
        <p class="h1_header text_number">+7(495) 111-55-77</p>
      </div>
    </div>

    <div class="header_menu">
      <div>
        <nav class="menu">
          <ul>
            <li class="li"><a href="/">Главная</a></li>
            <li class="li"><a href="/catalog">Каталог</a></li>
            <li class="li"><a href="#">Rapair</a></li>
            <li class="li"><a href="about">About</a></li>
            <li class="li"><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>

      <div class="img_header_menu">
        <a href="/auth">
          <div>
            <img class="img_cart" th:src="@{/image/7158883.png}" alt="cart" />
          </div>
        </a>

        <a href="/cart">
          <div>
            <img class="img_cart" th:src="@{/image/5834948.png}" alt="cart" />
          </div>
        </a>
      </div>
    </div>

    <div class="product product_border" th:each="product:${products}">
      <div class="product_img">
        <img
          class="img_product"
          th:src="@{'/image/'+${product.image}}"
          alt="img"
        />
      </div>

      <div>
        <div class="product product_border">
          <div class="brand_name_text">
            <!-- <p></p> -->
            <p class="skate" th:text="${product.name}">Коньки</p>
          </div>
          <div>
            <!-- <p>марка</p> -->
            <p class="skate" th:text="${product.brand}"></p>
          </div>
        </div>

        <div class="product_text product_border">
          <p th:text="${product.title}"></p>
        </div>

        <div>
          <div class="product_menu_price">
            <div>
              <p>размер</p>
              <p th:text="${product.size}"></p>
            </div>
            <div>
              <p>цена</p>
              <p th:text="${product.price}"></p>
            </div>
          </div>
        </div>
        <a
          th:href="@{list-shorts-cart/{id}(id=${product.id})}"
          title="Изменить пользователя"
        >
          <button class="button">в корзину</button></a
        >
      </div>
    </div>
  </body>
</html>
